:root {
  --fuente: "Dosis", sans-serif;
  --gris: rgb(248, 246, 246);
}

.fondo {
  background-image: url(../src/images/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
}
/*.opacidad{
  height: 32rem;
  position: relative;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.4);
}*/
.titulo {
  text-align: center;
  color: white;
  font-family: var(--fuente);
}
@media (min-width: 992px) {
  .titulo {
    margin-top: 5.5rem;
  }
}
h1 {
  font-size: 4rem;
}
body {
  background-color: var(--gris);
}
nav {
  z-index: 30;
}
