@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.Admin__botones{
    display: flex;
    gap: 0.2rem;
    justify-content: end;
    padding: 0rem 1rem;
}

.Admin__botones a i{
    font-size: x-large;
    color: black;
}

.Admin__botones a i:hover{
    color: var(--color2);
}

.btn__Eliminar{
    background-color: black;
}

.border_bottom{
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;

}
