/* Agrega estos estilos en tu archivo CSS o en línea en tu componente */

.container11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

table {
  width: 80%;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
