.report-title {
  text-align: center;
}

.table-container {
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  max-width: 700px;
  width: 95%;
}

.scrollable-table {
  width: 100%;
  border-collapse: collapse;
}
.reservacion {
  padding: 2rem;
}
