.reservacion-container {
  text-align: center;
  padding: 20px;
}

.reservacion {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
button {
  margin: 5px;
  padding: 8px;
}

.reservacion {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  margin: 10px 0;
}

.butt {
  background-color: #c82333;
}
